In [55]:
import pandas as pd
import numpy as np
import os
from functools import reduce

In [56]:
total = []
folder = '../Data/Clean/CDC'
for files in os.listdir(folder):
    if not (files.endswith('.txt') | files.startswith('.')):
        if files == 'CDCSTDagesex2019_clean.csv':
            continue
        df3 = pd.DataFrame(pd.read_csv(os.path.join(folder,files), sep = ',', index_col = 0))
        df3.drop(columns = 'geography', inplace = True)
        total.append(df3)
        print(files)
                
folder2 = '../Data/Intermediate'
for files in os.listdir(folder2):
    if not (files.endswith('.txt') | files.startswith('.')):
            total.append(pd.DataFrame(pd.read_csv(os.path.join(folder2,files), sep = ',', index_col = 0)))
            print(files)

CDCSTDagesex20192020_clean.csv
CDCSTDoverall2000_2020_clean.csv
disagRaceSexHIV2017_2020_clean.csv
disagRaceSexSTD2019_2020_clean.csv
HIVcountyage_clean.csv
ACSDP03_merge.csv
ACSDP05_merge.csv
COVIDcounty_cases_processed.csv

In [57]:
for i in total:
    print(i.shape)

(6191, 170)
(67578, 130)
(9980, 26)
(6189, 122)
(10878, 62)
(16101, 24)
(16101, 34)
(9426, 3)

In [58]:
df_merged = reduce(lambda  left,right: pd.merge(left, right, on=['year','fips'],
                                            how='outer'), total)
print(df_merged.shape)
df_merged.to_csv('../Data/merged_data.csv', index = False)

(73998, 558)

In [59]:
print(df_merged.columns)
df_merged.head()

Index(['year', 'fips', 'cases_Female_Chlamydia_0-14',
       'cases_Female_Chlamydia_15-19', 'cases_Female_Chlamydia_20-24',
       'cases_Female_Chlamydia_25-29', 'cases_Female_Chlamydia_30-34',
       'cases_Female_Chlamydia_35-39', 'cases_Female_Chlamydia_40-44',
       'cases_Female_Chlamydia_45-54',
       ...
       'pct_one_or_more_race_black', 'pct_one_or_more_race_native_american',
       'pct_one_or_more_race_asian',
       'pct_one_or_more_race_native_hawaiian_pacific_islander',
       'pct_one_or_more_race_other_race', 'pct_ethnicity_hispanic',
       'total_pop', 'pct_sex_age_16+', 'covid_cases', 'county_name'],
      dtype='object', length=558)

,year,fips,cases_Female_Chlamydia_0-14,cases_Female_Chlamydia_15-19,cases_Female_Chlamydia_20-24,cases_Female_Chlamydia_25-29,cases_Female_Chlamydia_30-34,cases_Female_Chlamydia_35-39,cases_Female_Chlamydia_40-44,cases_Female_Chlamydia_45-54,...,pct_one_or_more_race_black,pct_one_or_more_race_native_american,pct_one_or_more_race_asian,pct_one_or_more_race_native_hawaiian_pacific_islander,pct_one_or_more_race_other_race,pct_ethnicity_hispanic,total_pop,pct_sex_age_16+,covid_cases,county_name
0,2019,45001,1.0,33.0,32.0,11.0,3.0,2.0,2.0,1.0,...,29.2,0.5,0.4,0.0,0.4,1.5,24627.0,81.7,NaN,NaN
1,2019,22001,4.0,105.0,97.0,25.0,19.0,4.0,2.0,0.0,...,19.4,1.2,0.1,0.0,0.4,2.6,62457.0,76.8,NaN,NaN
2,2019,51001,1.0,46.0,64.0,22.0,16.0,4.0,1.0,1.0,...,29.2,0.9,0.9,0.0,0.9,9.0,32673.0,81.3,NaN,NaN
3,2019,19001,0.0,2.0,3.0,9.0,1.0,0.0,1.0,0.0,...,0.9,0.5,0.9,0.0,0.3,2.1,7085.0,80.5,NaN,NaN
4,2019,21001,0.0,19.0,11.0,2.0,1.0,0.0,0.0,1.0,...,3.3,0.8,0.8,0.0,0.3,2.0,19222.0,83.2,NaN,NaN