In [437]:
import pandas as pd
import numpy as np

In [438]:
df = pd.read_excel(io = "../Data/Raw/nonACSDemographics/SAIPECountyPovertyAndIncome2009.xls", skiprows = 4, sheet_name="Unemployment Med HH Income")

df.head()

,State FIPS,County FIPS,Postal,Name,Poverty Estimate All Ages,90% CI Lower Bound,90% CI Upper Bound,Poverty Percent All Ages,90% CI Lower Bound.1,90% CI Upper Bound.1,...,90% CI Upper Bound.5,Median Household Income,90% CI Lower Bound.6,90% CI Upper Bound.6,Poverty Estimate Ages 0-4,90% CI Lower Bound.7,90% CI Upper Bound.7,Poverty Percent Ages 0-4,90% CI Lower Bound.8,90% CI Upper Bound.8
0,00,0.0,US,United States,42868163.0,42631574.0,43104752.0,14.3,14.3,14.4,...,18.4,50221.0,50147.0,50295.0,4849988.0,4792377.0,4907599.0,23.2,23.0,23.5
1,01,0.0,AL,Alabama,805223.0,789114.0,821333.0,17.5,17.2,17.9,...,23.6,40547.0,40037.0,41057.0,89398.0,84576.0,94221.0,28.7,27.2,30.3
2,01,1.0,AL,Autauga County,5653.0,4401.0,6905.0,11.2,8.7,13.7,...,18.0,53081.0,48727.0,57435.0,NaN,NaN,NaN,NaN,NaN,NaN
3,01,3.0,AL,Baldwin County,23590.0,20404.0,26776.0,13.3,11.5,15.1,...,21.4,48637.0,46195.0,51078.0,NaN,NaN,NaN,NaN,NaN,NaN
4,01,5.0,AL,Barbour County,8676.0,7407.0,9945.0,32.8,28.0,37.6,...,47.4,28802.0,26012.0,31591.0,NaN,NaN,NaN,NaN,NaN,NaN

In [439]:
list(df.columns)

['State FIPS',
 'County FIPS',
 'Postal',
 'Name',
 'Poverty Estimate All Ages',
 '90% CI Lower Bound',
 '90% CI Upper Bound',
 'Poverty Percent All Ages',
 '90% CI Lower Bound.1',
 '90% CI Upper Bound.1',
 'Poverty Estimate Under Age 18',
 '90% CI Lower Bound.2',
 '90% CI Upper Bound.2',
 'Poverty Percent Under Age 18',
 '90% CI Lower Bound.3',
 '90% CI Upper Bound.3',
 'Poverty Estimate Ages 5-17',
 '90% CI Lower Bound.4',
 '90% CI Upper Bound.4',
 'Poverty Percent Ages 5-17',
 '90% CI Lower Bound.5',
 '90% CI Upper Bound.5',
 'Median Household Income',
 '90% CI Lower Bound.6',
 '90% CI Upper Bound.6',
 'Poverty Estimate Ages 0-4',
 '90% CI Lower Bound.7',
 '90% CI Upper Bound.7',
 'Poverty Percent Ages 0-4',
 '90% CI Lower Bound.8',
 '90% CI Upper Bound.8']

In [440]:
df = df[["State FIPS", "County FIPS", "Name", "Poverty Percent All Ages", "Median Household Income"]]
df.head()

,State FIPS,County FIPS,Name,Poverty Percent All Ages,Median Household Income
0,00,0.0,United States,14.3,50221.0
1,01,0.0,Alabama,17.5,40547.0
2,01,1.0,Autauga County,11.2,53081.0
3,01,3.0,Baldwin County,13.3,48637.0
4,01,5.0,Barbour County,32.8,28802.0

In [441]:
df = df[df["County FIPS"] > 0]
df.head()

,State FIPS,County FIPS,Name,Poverty Percent All Ages,Median Household Income
2,01,1.0,Autauga County,11.2,53081.0
3,01,3.0,Baldwin County,13.3,48637.0
4,01,5.0,Barbour County,32.8,28802.0
5,01,7.0,Bibb County,18.1,38294.0
6,01,9.0,Blount County,14.6,41520.0

In [442]:
df["State FIPS"] = pd.to_numeric(df["State FIPS"])
df["year"] = 2009
df["fips"] = df["State FIPS"]*1000 + df["County FIPS"]
df = df.drop(columns = ["State FIPS", "County FIPS", "Name"])
df = df.rename(columns = {"Median Household Income":"per_capita_income_2009"})
df = df.rename(columns = {"Poverty Percent All Ages":"poverty_rate"})
df.head()

   poverty_rate  per_capita_income_2009  year    fips
2          11.2                 53081.0  2009  1001.0
3          13.3                 48637.0  2009  1003.0
4          32.8                 28802.0  2009  1005.0
5          18.1                 38294.0  2009  1007.0
6          14.6                 41520.0  2009  1009.0

In [443]:
df.to_csv("../Data/Clean/nonACSDemographics/SAIPE2009_clean.csv")

In [444]:
df = pd.read_excel(io = "../Data/Raw/nonACSDemographics/SAIPECountyPovertyAndIncome2008.xls", skiprows = 2, sheet_name="est08ALL")

df.head()

,State FIPS,County FIPS,Postal,Name,Poverty Estimate All Ages,90% CI Lower Bound,90% CI Upper Bound,Poverty Percent All Ages,90% CI Lower Bound.1,90% CI Upper Bound.1,...,90% CI Upper Bound.5,Median Household Income,90% CI Lower Bound.6,90% CI Upper Bound.6,Poverty Estimate Ages 0-4,90% CI Lower Bound.7,90% CI Upper Bound.7,Poverty Percent Ages 0-4,90% CI Lower Bound.8,90% CI Upper Bound.8
0,00,0.0,US,United States,39108422.0,38858742.0,39358102.0,13.2,13.1,13.3,...,16.6,52029.0,51956.0,52102.0,4369698.0,4311741.0,4427655.0,21.2,20.9,21.5
1,01,0.0,AL,Alabama,721875.0,706983.0,736766.0,15.9,15.6,16.2,...,20.8,42586.0,41924.0,43248.0,82291.0,78070.0,86511.0,27.0,25.6,28.4
2,01,1.0,AL,Autauga County,5366.0,4417.0,6316.0,10.7,8.8,12.6,...,15.9,51622.0,48564.0,54679.0,NaN,NaN,NaN,NaN,NaN,NaN
3,01,3.0,AL,Baldwin County,17110.0,14523.0,19696.0,9.9,8.4,11.4,...,16.4,51957.0,49195.0,54720.0,NaN,NaN,NaN,NaN,NaN,NaN
4,01,5.0,AL,Barbour County,6399.0,5393.0,7406.0,24.5,20.7,28.4,...,35.4,30896.0,27934.0,33858.0,NaN,NaN,NaN,NaN,NaN,NaN

In [445]:
list(df.columns)

['State FIPS',
 'County FIPS',
 'Postal',
 'Name',
 'Poverty Estimate All Ages',
 '90% CI Lower Bound',
 '90% CI Upper Bound',
 'Poverty Percent All Ages',
 '90% CI Lower Bound.1',
 '90% CI Upper Bound.1',
 'Poverty Estimate Under Age 18',
 '90% CI Lower Bound.2',
 '90% CI Upper Bound.2',
 'Poverty Percent Under Age 18',
 '90% CI Lower Bound.3',
 '90% CI Upper Bound.3',
 'Poverty Estimate Ages 5-17',
 '90% CI Lower Bound.4',
 '90% CI Upper Bound.4',
 'Poverty Percent Ages 5-17',
 '90% CI Lower Bound.5',
 '90% CI Upper Bound.5',
 'Median Household Income',
 '90% CI Lower Bound.6',
 '90% CI Upper Bound.6',
 'Poverty Estimate Ages 0-4',
 '90% CI Lower Bound.7',
 '90% CI Upper Bound.7',
 'Poverty Percent Ages 0-4',
 '90% CI Lower Bound.8',
 '90% CI Upper Bound.8']

In [446]:
df = df[["State FIPS", "County FIPS", "Name", "Poverty Percent All Ages", "Median Household Income"]]
df.head()

,State FIPS,County FIPS,Name,Poverty Percent All Ages,Median Household Income
0,00,0.0,United States,13.2,52029.0
1,01,0.0,Alabama,15.9,42586.0
2,01,1.0,Autauga County,10.7,51622.0
3,01,3.0,Baldwin County,9.9,51957.0
4,01,5.0,Barbour County,24.5,30896.0

In [447]:
df = df[df["County FIPS"] > 0]
df.head()

,State FIPS,County FIPS,Name,Poverty Percent All Ages,Median Household Income
2,01,1.0,Autauga County,10.7,51622.0
3,01,3.0,Baldwin County,9.9,51957.0
4,01,5.0,Barbour County,24.5,30896.0
5,01,7.0,Bibb County,18.5,41076.0
6,01,9.0,Blount County,13.1,46086.0

In [448]:
df["State FIPS"] = pd.to_numeric(df["State FIPS"])
df["fips"] = df["State FIPS"]*1000 + df["County FIPS"]
df["year"] = 2008
df = df.drop(columns = ["State FIPS", "County FIPS", "Name"])
df = df.rename(columns = {"Median Household Income":"per_capita_income_2008"})
df = df.rename(columns = {"Poverty Percent All Ages":"poverty_rate"})
df.head()

   poverty_rate  per_capita_income_2008    fips  year
2          10.7                 51622.0  1001.0  2008
3           9.9                 51957.0  1003.0  2008
4          24.5                 30896.0  1005.0  2008
5          18.5                 41076.0  1007.0  2008
6          13.1                 46086.0  1009.0  2008

In [449]:
df.to_csv("../Data/Clean/nonACSDemographics/SAIPE2008_clean.csv")

In [450]:
df = pd.read_excel(io = "../Data/Raw/nonACSDemographics/SAIPECountyPovertyAndIncome2007.xls", skiprows = 2, sheet_name="est07ALL")

df.head()

,State FIPS,County FIPS,Postal,Name,Poverty Estimate All Ages,90% CI Lower Bound,90% CI Upper Bound,Poverty Percent All Ages,90% CI Lower Bound.1,90% CI Upper Bound.1,...,90% CI Upper Bound.5,Median Household Income,90% CI Lower Bound.6,90% CI Upper Bound.6,Poverty Estimate Ages 0-4,90% CI Lower Bound.7,90% CI Upper Bound.7,Poverty Percent Ages 0-4,90% CI Lower Bound.8,90% CI Upper Bound.8
0,00,0.0,US,United States,38052247.0,37829283.0,38275211.0,13.0,12.9,13.0,...,16.5,50740.0,50665.0,50815.0,4229120,4178842,4279398,20.8,20.5,21
1,01,0.0,AL,Alabama,750197.0,734699.0,765695.0,16.6,16.3,17.0,...,22.9,40596.0,40178.0,41014.0,81858,78293,85424,27.1,25.9,28.2
2,01,1.0,AL,Autauga County,5155.0,4189.0,6120.0,10.4,8.4,12.3,...,15.7,50375.0,47219.0,53532.0,,,,,,
3,01,3.0,AL,Baldwin County,17500.0,14635.0,20364.0,10.3,8.6,12.0,...,18.2,49163.0,46500.0,51826.0,,,,,,
4,01,5.0,AL,Barbour County,6442.0,5353.0,7530.0,26.1,21.7,30.5,...,39.2,30370.0,27689.0,33050.0,,,,,,

In [451]:
list(df.columns)

['State FIPS',
 'County FIPS',
 'Postal',
 'Name',
 'Poverty Estimate All Ages',
 '90% CI Lower Bound',
 '90% CI Upper Bound',
 'Poverty Percent All Ages',
 '90% CI Lower Bound.1',
 '90% CI Upper Bound.1',
 'Poverty Estimate Under Age 18',
 '90% CI Lower Bound.2',
 '90% CI Upper Bound.2',
 'Poverty Percent Under Age 18',
 '90% CI Lower Bound.3',
 '90% CI Upper Bound.3',
 'Poverty Estimate Ages 5-17',
 '90% CI Lower Bound.4',
 '90% CI Upper Bound.4',
 'Poverty Percent Ages 5-17',
 '90% CI Lower Bound.5',
 '90% CI Upper Bound.5',
 'Median Household Income',
 '90% CI Lower Bound.6',
 '90% CI Upper Bound.6',
 'Poverty Estimate Ages 0-4',
 '90% CI Lower Bound.7',
 '90% CI Upper Bound.7',
 'Poverty Percent Ages 0-4',
 '90% CI Lower Bound.8',
 '90% CI Upper Bound.8']

In [452]:
df = df[["State FIPS", "County FIPS", "Name", "Poverty Percent All Ages", "Median Household Income"]]
df.head()

,State FIPS,County FIPS,Name,Poverty Percent All Ages,Median Household Income
0,00,0.0,United States,13.0,50740.0
1,01,0.0,Alabama,16.6,40596.0
2,01,1.0,Autauga County,10.4,50375.0
3,01,3.0,Baldwin County,10.3,49163.0
4,01,5.0,Barbour County,26.1,30370.0

In [453]:
df = df[df["County FIPS"] > 0]
df.head()

,State FIPS,County FIPS,Name,Poverty Percent All Ages,Median Household Income
2,01,1.0,Autauga County,10.4,50375.0
3,01,3.0,Baldwin County,10.3,49163.0
4,01,5.0,Barbour County,26.1,30370.0
5,01,7.0,Bibb County,18.2,38907.0
6,01,9.0,Blount County,13.1,43266.0

In [454]:
df["State FIPS"] = pd.to_numeric(df["State FIPS"])
df["year"] = 2007
df["fips"] = df["State FIPS"]*1000 + df["County FIPS"]
df = df.drop(columns = ["State FIPS", "County FIPS", "Name"])
df = df.rename(columns = {"Median Household Income":"per_capita_income_2007"})
df = df.rename(columns = {"Poverty Percent All Ages":"poverty_rate"})
df.head()

   poverty_rate  per_capita_income_2007  year    fips
2          10.4                 50375.0  2007  1001.0
3          10.3                 49163.0  2007  1003.0
4          26.1                 30370.0  2007  1005.0
5          18.2                 38907.0  2007  1007.0
6          13.1                 43266.0  2007  1009.0

In [455]:
df.to_csv("../Data/Clean/nonACSDemographics/SAIPE2007_clean.csv")

In [456]:
df = pd.read_excel(io = "../Data/Raw/nonACSDemographics/SAIPECountyPovertyAndIncome2006.xls", skiprows = 2, sheet_name="est06ALL")

df.head()

,State FIPS,County FIPS,Postal,Name,Poverty Estimate All Ages,90% CI Lower Bound,90% CI Upper Bound,Poverty Percent All Ages,90% CI Lower Bound.1,90% CI Upper Bound.1,...,90% CI Upper Bound.5,Median Household Income,90% CI Lower Bound.6,90% CI Upper Bound.6,Poverty Estimate Ages 0-4,90% CI Lower Bound.7,90% CI Upper Bound.7,Poverty Percent Ages 0-4,90% CI Lower Bound.8,90% CI Upper Bound.8
0,00,0.0,US,United States,38757253.0,38535015.0,38979491.0,13.3,13.2,13.4,...,16.9,48451.0,48369.0,48533.0,4211345,4166465,4256225,21,20.8,21.2
1,01,0.0,AL,Alabama,743556.0,730298.0,756815.0,16.6,16.3,16.9,...,22.3,38811.0,38320.0,39302.0,77388,74009,80767,26.3,25.1,27.4
2,01,1.0,AL,Autauga County,6152.0,5049.0,7254.0,12.5,10.2,14.7,...,18.4,46491.0,43547.0,49435.0,,,,,,
3,01,3.0,AL,Baldwin County,18269.0,15406.0,21132.0,11.0,9.2,12.7,...,17.3,45493.0,42921.0,48065.0,,,,,,
4,01,5.0,AL,Barbour County,7247.0,6151.0,8342.0,28.7,24.4,33.1,...,39.7,28692.0,26408.0,30977.0,,,,,,

In [457]:
list(df.columns)

['State FIPS',
 'County FIPS',
 'Postal',
 'Name',
 'Poverty Estimate All Ages',
 '90% CI Lower Bound',
 '90% CI Upper Bound',
 'Poverty Percent All Ages',
 '90% CI Lower Bound.1',
 '90% CI Upper Bound.1',
 'Poverty Estimate Under Age 18',
 '90% CI Lower Bound.2',
 '90% CI Upper Bound.2',
 'Poverty Percent Under Age 18',
 '90% CI Lower Bound.3',
 '90% CI Upper Bound.3',
 'Poverty Estimate Ages 5-17',
 '90% CI Lower Bound.4',
 '90% CI Upper Bound.4',
 'Poverty Percent Ages 5-17',
 '90% CI Lower Bound.5',
 '90% CI Upper Bound.5',
 'Median Household Income',
 '90% CI Lower Bound.6',
 '90% CI Upper Bound.6',
 'Poverty Estimate Ages 0-4',
 '90% CI Lower Bound.7',
 '90% CI Upper Bound.7',
 'Poverty Percent Ages 0-4',
 '90% CI Lower Bound.8',
 '90% CI Upper Bound.8']

In [458]:
df = df[["State FIPS", "County FIPS", "Name", "Poverty Percent All Ages", "Median Household Income"]]
df.head()

,State FIPS,County FIPS,Name,Poverty Percent All Ages,Median Household Income
0,00,0.0,United States,13.3,48451.0
1,01,0.0,Alabama,16.6,38811.0
2,01,1.0,Autauga County,12.5,46491.0
3,01,3.0,Baldwin County,11.0,45493.0
4,01,5.0,Barbour County,28.7,28692.0

In [459]:
df = df[df["County FIPS"] > 0]
df.head()

,State FIPS,County FIPS,Name,Poverty Percent All Ages,Median Household Income
2,01,1.0,Autauga County,12.5,46491.0
3,01,3.0,Baldwin County,11.0,45493.0
4,01,5.0,Barbour County,28.7,28692.0
5,01,7.0,Bibb County,18.8,36794.0
6,01,9.0,Blount County,12.8,41494.0

In [460]:
df["State FIPS"] = pd.to_numeric(df["State FIPS"])
df["fips"] = df["State FIPS"]*1000 + df["County FIPS"]
df["year"] = 2006
df = df.drop(columns = ["State FIPS", "County FIPS", "Name"])
df = df.rename(columns = {"Median Household Income":"per_capita_income_2006"})
df = df.rename(columns = {"Poverty Percent All Ages":"poverty_rate"})
df.head()

   poverty_rate  per_capita_income_2006    fips  year
2          12.5                 46491.0  1001.0  2006
3          11.0                 45493.0  1003.0  2006
4          28.7                 28692.0  1005.0  2006
5          18.8                 36794.0  1007.0  2006
6          12.8                 41494.0  1009.0  2006

In [461]:
df.to_csv("../Data/Clean/nonACSDemographics/SAIPE2006_clean.csv")

In [462]:
df = pd.read_excel(io = "../Data/Raw/nonACSDemographics/SAIPECountyPovertyAndIncome2005.xls", skiprows = 2, sheet_name="Sheet1")

df.head()

,State FIPS,County FIPS,Postal,Name,Poverty Estimate All Ages,90% CI Lower Bound,90% CI Upper Bound,Poverty Percent All Ages,90% CI Lower Bound.1,90% CI Upper Bound.1,...,90% CI Upper Bound.5,Median Household Income,90% CI Lower Bound.6,90% CI Upper Bound.6,Poverty Estimate Ages 0-4,90% CI Lower Bound.7,90% CI Upper Bound.7,Poverty Percent Ages 0-4,90% CI Lower Bound.8,90% CI Upper Bound.8
0,00,0.0,US,United States,38231474,37934924,38528024,13.3,13.2,13.4,...,17.2,46242,46138,46346,4242948.0,4187205.0,4298691.0,21.3,21.0,21.5
1,01,0.0,AL,Alabama,749592,734673,764511,16.9,16.6,17.3,...,23.2,36936,36431,37441,83890.0,79692.0,88088.0,28.6,27.2,30.0
2,01,1.0,AL,Autauga County,5020,4134,5907,10.4,8.6,12.3,...,16.4,45019,41396,48643,NaN,NaN,NaN,NaN,NaN,NaN
3,01,3.0,AL,Baldwin County,18249,15161,21337,11.4,9.5,13.3,...,19.7,42804,40201,45407,NaN,NaN,NaN,NaN,NaN,NaN
4,01,5.0,AL,Barbour County,5694,4720,6667,22.4,18.5,26.2,...,35.3,29534,27473,31594,NaN,NaN,NaN,NaN,NaN,NaN

In [463]:
list(df.columns)

['State FIPS',
 'County FIPS',
 'Postal',
 'Name',
 'Poverty Estimate All Ages',
 '90% CI Lower Bound',
 '90% CI Upper Bound',
 'Poverty Percent All Ages',
 '90% CI Lower Bound.1',
 '90% CI Upper Bound.1',
 'Poverty Estimate Under Age 18',
 '90% CI Lower Bound.2',
 '90% CI Upper Bound.2',
 'Poverty Percent Under Age 18',
 '90% CI Lower Bound.3',
 '90% CI Upper Bound.3',
 'Poverty Estimate Ages 5-17',
 '90% CI Lower Bound.4',
 '90% CI Upper Bound.4',
 'Poverty Percent Ages 5-17',
 '90% CI Lower Bound.5',
 '90% CI Upper Bound.5',
 'Median Household Income',
 '90% CI Lower Bound.6',
 '90% CI Upper Bound.6',
 'Poverty Estimate Ages 0-4',
 '90% CI Lower Bound.7',
 '90% CI Upper Bound.7',
 'Poverty Percent Ages 0-4',
 '90% CI Lower Bound.8',
 '90% CI Upper Bound.8']

In [464]:
df = df[["State FIPS", "County FIPS", "Name", "Poverty Percent All Ages", "Median Household Income"]]
df.head()

,State FIPS,County FIPS,Name,Poverty Percent All Ages,Median Household Income
0,00,0.0,United States,13.3,46242
1,01,0.0,Alabama,16.9,36936
2,01,1.0,Autauga County,10.4,45019
3,01,3.0,Baldwin County,11.4,42804
4,01,5.0,Barbour County,22.4,29534

In [465]:
df = df[df["County FIPS"] > 0]
df.head()

,State FIPS,County FIPS,Name,Poverty Percent All Ages,Median Household Income
2,01,1.0,Autauga County,10.4,45019
3,01,3.0,Baldwin County,11.4,42804
4,01,5.0,Barbour County,22.4,29534
5,01,7.0,Bibb County,16.6,34212
6,01,9.0,Blount County,11.4,40588

In [466]:
df["State FIPS"] = pd.to_numeric(df["State FIPS"])
df["fips"] = df["State FIPS"]*1000 + df["County FIPS"]
df["year"] = 2005
df = df.drop(columns = ["State FIPS", "County FIPS", "Name"])
df = df.rename(columns = {"Median Household Income":"per_capita_income_2005"})
df = df.rename(columns = {"Poverty Percent All Ages":"poverty_rate"})
df.head()

  poverty_rate per_capita_income_2005    fips  year
2         10.4                  45019  1001.0  2005
3         11.4                  42804  1003.0  2005
4         22.4                  29534  1005.0  2005
5         16.6                  34212  1007.0  2005
6         11.4                  40588  1009.0  2005

In [467]:
df.to_csv("../Data/Clean/nonACSDemographics/SAIPE2005_clean.csv")

In [468]:
df = pd.read_excel(io = "../Data/Raw/nonACSDemographics/SAIPECountyPovertyAndIncome2004.xls", skiprows = 1, sheet_name="est04ALL")

df.head()

,State FIPS,County FIPS,Postal,Name,Poverty Estimate All Ages,90% CI Lower Bound,90% CI Upper Bound,Poverty Percent All Ages,90% CI Lower Bound.1,90% CI Upper Bound.1,...,90% CI Upper Bound.5,Median Household Income,90% CI Lower Bound.6,90% CI Upper Bound.6,Poverty Estimate Ages 0-4,90% CI Lower Bound.7,90% CI Upper Bound.7,Poverty Percent Ages 0-4,90% CI Lower Bound.8,90% CI Upper Bound.8
0,0,0,US,United States,37039804,36359662,37719946,12.7,12.5,13,...,16.7,44334,44012,44656,4123715.0,3917910.0,4329520.0,20.5,19.5,21.5
1,1,0,AL,Alabama,717483,675992,758974,16.1,15.1,17,...,22.9,37062,35614,38510,77330.0,68732.0,85928.0,26.2,23.3,29.1
2,1,1,AL,Autauga County,5627,4340,6914,11.6,8.9,14.3,...,18.6,45379,42625,48310,NaN,NaN,NaN,NaN,NaN,NaN
3,1,3,AL,Baldwin County,16089,12434,19744,10,7.7,12.3,...,17.3,42227,39726,44886,NaN,NaN,NaN,NaN,NaN,NaN
4,1,5,AL,Barbour County,6109,4685,7533,23.9,18.3,29.4,...,36.4,26495,24830,28272,NaN,NaN,NaN,NaN,NaN,NaN

In [469]:
list(df.columns)

['State FIPS',
 'County FIPS',
 'Postal',
 'Name',
 'Poverty Estimate All Ages',
 '90% CI Lower Bound',
 '90% CI Upper Bound',
 'Poverty Percent All Ages',
 '90% CI Lower Bound.1',
 '90% CI Upper Bound.1',
 'Poverty Estimate Under Age 18',
 '90% CI Lower Bound.2',
 '90% CI Upper Bound.2',
 'Poverty Percent Under Age 18',
 '90% CI Lower Bound.3',
 '90% CI Upper Bound.3',
 'Poverty Estimate Ages 5-17',
 '90% CI Lower Bound.4',
 '90% CI Upper Bound.4',
 'Poverty Percent Ages 5-17',
 '90% CI Lower Bound.5',
 '90% CI Upper Bound.5',
 'Median Household Income',
 '90% CI Lower Bound.6',
 '90% CI Upper Bound.6',
 'Poverty Estimate Ages 0-4',
 '90% CI Lower Bound.7',
 '90% CI Upper Bound.7',
 'Poverty Percent Ages 0-4',
 '90% CI Lower Bound.8',
 '90% CI Upper Bound.8']

In [470]:
df = df[["State FIPS", "County FIPS", "Name", "Poverty Percent All Ages", "Median Household Income"]]
df.head()

,State FIPS,County FIPS,Name,Poverty Percent All Ages,Median Household Income
0,0,0,United States,12.7,44334
1,1,0,Alabama,16.1,37062
2,1,1,Autauga County,11.6,45379
3,1,3,Baldwin County,10,42227
4,1,5,Barbour County,23.9,26495

In [471]:
df = df[df["County FIPS"] > 0]
df.head()

,State FIPS,County FIPS,Name,Poverty Percent All Ages,Median Household Income
2,1,1,Autauga County,11.6,45379
3,1,3,Baldwin County,10,42227
4,1,5,Barbour County,23.9,26495
5,1,7,Bibb County,17.1,34055
6,1,9,Blount County,12.4,38643

In [472]:
df["State FIPS"] = pd.to_numeric(df["State FIPS"])
df["fips"] = df["State FIPS"]*1000 + df["County FIPS"]
df["year"] = 2004
df = df.drop(columns = ["State FIPS", "County FIPS", "Name"])
df = df.rename(columns = {"Median Household Income":"per_capita_income_2004"})
df = df.rename(columns = {"Poverty Percent All Ages":"poverty_rate"})
df.head()

  poverty_rate per_capita_income_2004  fips  year
2         11.6                  45379  1001  2004
3           10                  42227  1003  2004
4         23.9                  26495  1005  2004
5         17.1                  34055  1007  2004
6         12.4                  38643  1009  2004

In [473]:
df.to_csv("../Data/Clean/nonACSDemographics/SAIPE2004_clean.csv")

In [474]:
df = pd.read_excel(io = "../Data/Raw/nonACSDemographics/SAIPECountyPovertyAndIncome2003.xls", skiprows = 1, sheet_name="est03ALL")

df.head()

,State FIPS,County FIPS,Postal Code,Name,Poverty Estimate All Ages,90% CI Lower Bound,90% CI Upper Bound,Poverty Percent All Ages,90% CI Lower Bound.1,90% CI Upper Bound.1,...,90% CI Upper Bound.5,Median Household Income,90% CI Lower Bound.6,90% CI Upper Bound.6,Poverty Estimate Ages 0-4,90% CI Lower Bound.7,90% CI Upper Bound.7,Poverty Percent Ages 0-4,90% CI Lower Bound.8,90% CI Upper Bound.8
0,0,0,US,United States,35861170,35190401,36531939,12.5,12.2,12.7,...,16.6,43318,43009,43627,4021366.0,3817517.0,4225215.0,20.3,19.3,21.4
1,1,0,AL,Alabama,677455,644647,710263,15.3,14.5,16,...,22.5,36131,34659,37602,72477.0,62361.0,82594.0,24.7,21.3,28.2
2,1,1,AL,Autauga County,4926,3815,6038,10.4,8.1,12.7,...,18.4,44241,41547,47109,NaN,NaN,NaN,NaN,NaN,NaN
3,1,3,AL,Baldwin County,15753,12234,19273,10.1,7.9,12.4,...,18,41961,39479,44600,NaN,NaN,NaN,NaN,NaN,NaN
4,1,5,AL,Barbour County,5717,4411,7022,22.2,17.1,27.3,...,37.9,26062,24432,27801,NaN,NaN,NaN,NaN,NaN,NaN

In [475]:
list(df.columns)

['State FIPS',
 'County FIPS',
 'Postal Code',
 'Name',
 'Poverty Estimate All Ages',
 '90% CI Lower Bound',
 '90% CI Upper Bound',
 'Poverty Percent All Ages',
 '90% CI Lower Bound.1',
 '90% CI Upper Bound.1',
 'Poverty Estimate Ages 0-17',
 '90% CI Lower Bound.2',
 '90% CI Upper Bound.2',
 'Poverty Percent Ages 0-17',
 '90% CI Lower Bound.3',
 '90% CI Upper Bound.3',
 'Poverty Estimate Ages 5-17',
 '90% CI Lower Bound.4',
 '90% CI Upper Bound.4',
 'Poverty Percent Ages 5-17',
 '90% CI Lower Bound.5',
 '90% CI Upper Bound.5',
 'Median Household Income',
 '90% CI Lower Bound.6',
 '90% CI Upper Bound.6',
 'Poverty Estimate Ages 0-4',
 '90% CI Lower Bound.7',
 '90% CI Upper Bound.7',
 'Poverty Percent Ages 0-4',
 '90% CI Lower Bound.8',
 '90% CI Upper Bound.8']

In [476]:
df = df[["State FIPS", "County FIPS", "Name", "Poverty Percent All Ages", "Median Household Income"]]
df.head()

,State FIPS,County FIPS,Name,Poverty Percent All Ages,Median Household Income
0,0,0,United States,12.5,43318
1,1,0,Alabama,15.3,36131
2,1,1,Autauga County,10.4,44241
3,1,3,Baldwin County,10.1,41961
4,1,5,Barbour County,22.2,26062

In [477]:
df = df[df["County FIPS"] > 0]
df.head()

,State FIPS,County FIPS,Name,Poverty Percent All Ages,Median Household Income
2,1,1,Autauga County,10.4,44241
3,1,3,Baldwin County,10.1,41961
4,1,5,Barbour County,22.2,26062
5,1,7,Bibb County,16.8,32924
6,1,9,Blount County,11.9,37758

In [478]:
df["State FIPS"] = pd.to_numeric(df["State FIPS"])
df["fips"] = df["State FIPS"]*1000 + df["County FIPS"]
df["year"] = 2003
df = df.drop(columns = ["State FIPS", "County FIPS", "Name"])
df = df.rename(columns = {"Median Household Income":"per_capita_income_2003"})
df = df.rename(columns = {"Poverty Percent All Ages":"poverty_rate"})
df.head()

   poverty_rate per_capita_income_2003  fips  year
2          10.4                  44241  1001  2003
3          10.1                  41961  1003  2003
4          22.2                  26062  1005  2003
5          16.8                  32924  1007  2003
6          11.9                  37758  1009  2003

In [479]:
df.to_csv("../Data/Clean/nonACSDemographics/SAIPE2003_clean.csv")

In [480]:
df = pd.read_fwf('../Data/Raw/nonACSDemographics/SAIPECountyPovertyAndIncome2002.txt', header = None)
df.head()

,0,1,2,3,4,5,6,7,8,9,...,24,25,26,27,28,29,30,31,32,33
0,0,0,34569951,33912173,35227729,12.1,11.9,12.3,12132645,11795343,...,3530466.0,3923920.0,19.0,18.0,20.0,United States,NaN,US,est02ALL.dat,29OCT2004
1,1,0,679856,646828,712885,15.4,14.7,16.1,238077,221362,...,66986.0,85079.0,25.5,22.5,28.6,Alabama,NaN,AL,est02ALL.dat,29OCT2004
2,1,1,4795,3728,5863,10.3,8.0,12.6,1816,1379,...,NaN,NaN,NaN,NaN,NaN,Autauga County,NaN,AL,est02ALL.dat,29OCT2004
3,1,3,16175,12558,19793,10.7,8.3,13.1,5501,4146,...,NaN,NaN,NaN,NaN,NaN,Baldwin County,NaN,AL,est02ALL.dat,29OCT2004
4,1,5,6152,4767,7538,23.6,18.3,28.9,2083,1570,...,NaN,NaN,NaN,NaN,NaN,Barbour County,NaN,AL,est02ALL.dat,29OCT2004

In [481]:
list(df.columns)

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33]

#### Documentation here: https://www2.census.gov/programs-surveys/saipe/technical-documentation/file-layouts/state-county/2002-estimate-layout.txt

In [482]:
df = df[[0, 1, 5, 20, 29]]
df.head()

   0   1     5      20              29
0   0   0  12.1  42409   United States
1   1   0  15.4  35943         Alabama
2   1   1  10.3  42841  Autauga County
3   1   3  10.7  40818  Baldwin County
4   1   5  23.6  25279  Barbour County

In [483]:
df = df[df[1] > 0]
df.head()

df[0] = pd.to_numeric(df[0])
df["fips"] = df[0]*1000 + df[1]
df["year"] = 2002
df = df.drop(columns = [0, 1, 29])
df = df.rename(columns = {20:"per_capita_income_2002"})
df = df.rename(columns = {5:"poverty_rate"})
df.head()

   poverty_rate per_capita_income_2002  fips  year
2          10.3                  42841  1001  2002
3          10.7                  40818  1003  2002
4          23.6                  25279  1005  2002
5          17.7                  31387  1007  2002
6          12.6                  36386  1009  2002

In [484]:
df.to_csv("../Data/Clean/nonACSDemographics/SAIPE2002_clean.csv")